<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- Slower output: "[%p] %d{MM/dd HH:mm:ss.SSS} %t [%C-%M] %m%n" -->
			<param name="ConversionPattern" value="%r [%t] %-5p %c %x - %m%n"/>
		</layout>
	</appender>

	<appender name="consoleDetail" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} [%t] %-5p %c %x - %m%n"/>
		</layout>
	</appender>

	<logger name="org.tsaikd.java" additivity="false">
		<level value="debug"/>
		<appender-ref ref="console"/>
	</logger>

	<logger name="org.tsaikd.java.utils.ConfigUtils" additivity="false">
		<level value="info"/>
		<appender-ref ref="console"/>
	</logger>

	<logger name="org.tsaikd.java.eyny" additivity="false">
		<level value="debug"/>
		<appender-ref ref="consoleDetail"/>
	</logger>

	<logger name="org.tsaikd.java.fdzone" additivity="false">
		<level value="debug"/>
		<appender-ref ref="consoleDetail"/>
	</logger>

	<root>
		<priority value ="info"/>
		<appender-ref ref="console"/>
	</root>

</log4j:configuration>
